<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<% @posts.each do |post| %>
  <div>
    <h3><%= post.title %></h3>
    <h5>Author: 
      <% if user_signed_in? %>
        <% if post.user.username == current_user.username %>
          You
        <% else %>
          <%= post.user.username %>
        <% end %>
      <% else %>
        ???
      <% end %>
    </h5>
    <p><%= post.body %></p>
    <table>
        <tr>
          <td><%= link_to 'Show', post %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    </table>
  </div>
<% end %>



<br>

<%= link_to 'New Post', new_post_path %>
