<p id="notice"><%= notice %></p>

<h1> <%= @post.title %> </h1>
<h2>
  Author:
      <% if user_signed_in? %>
        <% if @post.user.username == current_user.username %>
          You
        <% else %>
          <%= @post.user.username %>
        <% end %>
      <% else %>
        Secret Author
      <% end %>
</h2>
<% unless user_signed_in? %>
  <h5>Sign in to view the author of this post.</h5>
<% end %>



<p> <%= @post.body %> </p>



<% if user_signed_in? %>
  <% if @post.user.username == current_user.username %>
    <button class="nav-button">
      <%= link_to 'Edit', edit_post_path(@post) %> 
    </button>
  <% end %>
<% end %>
<button class="nav-button">
  <%= link_to 'Back', posts_path %>
</button>
