<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="primary-header">
      <h1 class="logo">Members Only</h1>
      <nav class="navbar">
        <ul class="nav-items">
          <li class="nav-item">Nav 1</li>
          <li class="nav-item">Nav 2</li>
          <li class="nav-item">Nav 3</li>
          <li class="nav-item">Nav 4</li>
        </ul>
      </nav>
    </header>

  	<% if flash[:notice] %>
  		<div class="notification is-primary global-notification">
  			<p class="notice"><%= notice %></p>
  		</div>
  	<% end %>
  	<% if flash[:alert] %>
  		<div class="notification is-danger global-notification">
  			<p class="alert"><%= alert %></p>
  		</div>
  	<% end %>
    <section class = "main-section">
      <%= yield %>
    </section>
  </body>
</html>
